body {
  font-family: 'ColfaxRegular';
  font-size: 13.5px;
  color: rgb(0, 51, 85);
}

.col {
  flex: 1;
  margin: 0.1em;
  padding: 0.8em;
}

h1 {
  font-size: 1.85rem;
  font-family: 'ColfaxWebMedium';
}

h2 {
  font-size: 1rem;
  font-family: 'ColfaxWebMedium';
}

p {
  line-height: 1.5;
}

section {
  text-align: center;
}

.difference-images {
  width: 270px;
}

a {
  color: rgb(137, 186, 233);
}

@font-face {
  font-family: 'ColfaxRegular';
  src: url('fonts/ColfaxRegular.woff');
}

@font-face {
  font-family: 'ColfaxWebLight';
  src: url('fonts/ColfaxWebLight.woff');
}

@font-face {
  font-family: 'ColfaxWebMedium';
  src: url('fonts/ColfaxWebMedium.woff');
}

@font-face {
  font-family: 'ColfaxWebMediumItalic';
  src: url('fonts/ColfaxWebMediumItalic.woff');
}
