div {
  border: black 1px solid;
}

body {
  font-family: 'ColfaxRegular';
  font-size: 13.5px;
  color: rgb(0, 51, 85);
}

h1 {
  font-size: 1.85rem;
  font-family: 'ColfaxWebMedium';
  padding: 1.7rem;
}

.difference-section-h2 {
  padding: 1rem;
}

h2 {
  font-size: 1rem;
  font-family: 'ColfaxWebMedium';
}

p {
  line-height: 1.5;
}

img {
  width: 90%;
}

a {
  color: rgba(82, 158, 226, 1);
}

#difference-section {
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  text-align: center;
}

.difference-footer-div {
  padding: 2.5rem;
}

.blue-bg {
  height: 31.5rem;
  background-color: rgb(44, 134, 220);
}

#blue-bg {
  position: absolute;
  width: 37rem;
  margin-top: 12rem;
}

#plans-pricing-button {
  background-color: white;
  border-radius: 4px;
}

#whitespace {
  background-color: white;
  border-radius: 4px;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 9rem;
  padding: 2rem;
}

#subscribe-button {
  width: 6rem;
  height: 2rem;
  border-radius: 3px;
  text-align: center;
  padding-top: 12px;
}



@font-face {
  font-family: 'ColfaxRegular';
  src: url('fonts/ColfaxRegular.woff');
}

@font-face {
  font-family: 'ColfaxWebLight';
  src: url('fonts/ColfaxWebLight.woff');
}

@font-face {
  font-family: 'ColfaxWebMedium';
  src: url('fonts/ColfaxWebMedium.woff');
}

@font-face {
  font-family: 'ColfaxWebMediumItalic';
  src: url('fonts/ColfaxWebMediumItalic.woff');
}
